.famitra-240119  {
  .c-btn {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-style: solid;
    border-color:#fff;
    border-width: 6px;
    border-radius: 140px;
    margin: 50px auto 0;
    &:hover {
      transform: translateY(-1px);
      outline: none;
      box-shadow: 0 10px 10px 4px rgba(0,0,0, 0.14);
      transition: 0.4s;
    }
  }
}